<!doctype html>
<html lang="en" data-framework="marionettejs">
    <head>
        <meta charset="utf-8">
        <title>Weather App</title>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>

        <!-- Root layout -->
        <section id="weatherApp">
            <section id="header"></section>
            <section id="main"></section>
            <footer id="footer">
                <p>
                    Created by <a href="https://github.com/AugustinChini">Augustin CHINI</a>
                </p>
            </footer>
        </section>
        <!-- End root layout -->

        <!-- Templates -->
        <script type="text/html" id="template-form">

            <input id="input-city" placeholder="What city do you want ?" autofocus>
            <button id="city-button"type="button">Search</button><br/>
            <a id="gpsLink" href="#">GPS coordinates ?</a>
            <div id="gps-input-container">

                <input id="input-gps" placeholder="ex. lat=35&lon=139" >
                <button id="gps-button" type="button">Search</button>

            </div>
        </script>

        <script type="text/html" id="main-display">
            <div id="mainContainer">
                <img id="add" alt="add Weather" src="img/add.png"/>
                <h1 id="city"></h1>
                <div id="icon"></div>
                <h1 id="temp"></h1>
                <p>C <br/> F </p>
                <h3 id="desc"></h3>
                <h3 id="wind"></h3>
                <div id="googleIframContrainer"></div>
            </div>
        </script>

        <script type="text/html" id="item-layout">

            <img id="delItem" alt="del icon" src="img/del_icon.png"/>
            <button type="button" class="list-group-item"><%- temp %>° - <%- city %></button>
        </script>

        <script type="text/html" id="list-container">

            <div id="list-items" class="list-group"></div>
        </script>
        <!-- End templates -->

        <!-- Libraries -->
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/underscore/underscore.js"></script>
        <script src="node_modules/backbone/backbone.js"></script>
        <script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>
        <script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>
        <script src="node_modules/backbone.radio/build/backbone.radio.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- End libraries -->


        <!-- Application JS -->
        <script src="js/model.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/view.js"></script>
        <script src="js/app.js"></script>
        <!-- End application JS -->

    </body>
</html>